.standard-columns {
	.ktg-grid-row {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax( min(100%, 250px), 1fr ) );
		grid-gap: 1rem;
	}
	.standard-column {
		display: flex;
		flex-direction: column;
	}
	.column-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		margin-bottom: 8px;
		background-color: #fff;
		border-radius: 6px;
		&:has(.sc-image) {
			padding-top: 0;
		}
		&:has(.sc-pdf_thumbnail) {
			padding-top: 0;
		}
		box-shadow: -8px 2px 12px -6px rgba(0,0,0,0.15);
		.button {
			margin: 0 auto;
		}
	}
	.column-top, .sc-image {
		border-radius: 6px;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
	}
	.sc-icon {

		img {
			width: calc(3.5vw + 12px);
			aspect-ratio: 1 / 1;
			object-fit: contain;
			@media (max-width: 479px) {
				width: 20vw;
			}
		}
	}
	.sc-image, .column-top {
		margin-bottom: 10px;
		background: #efefef;
		img {
			width: 50%;
			aspect-ratio: 2/3;
			object-fit: contain;
			margin-inline: auto;
			padding: 12px;
		}
	}
	.sc-text {
		padding-bottom: 20px;
		@media screen and (min-width: 479px) {
			width: 90%;
			margin: 12px auto;
		}
	}
	.sc-text h3 {
		color: inherit;
	}
	h3 {
		text-align: center;
	}
	.sc-links {
		flex-direction: column;
		margin-top: auto;
		gap: 12px;
		//a {
		//	text-decoration: none;
		//	:hover {
		//		text-decoration: underline;
		//	}
		//}
	}
	.button {
		max-width: 95%;
		margin-inline: auto;
	}
}
